@import "variables";

slides > slide {
  font-size: 30px;
  line-height: 40px;
}

h2 {
  font-size: 48px;
  line-height: 50px;
}

h3 {
  font-size: 36px;
}

a.plain {
  border-bottom: none;
}

.quote {
  q {
    font-size: 40px;
    line-height: 50px;
  }

  .author {
    bottom: 180px;
  }
}

.logoslide {
  a {
    color: #0193de;
    font-weight: 600;
    border-bottom: none;
    margin-bottom: 10px;
  }

  img {
    margin-bottom: 30px;
  }
}

.title-slide, slide.fill {

  hgroup, article {
    h1, h2, h3, p {
      color: $gray-1;
    }
  }

}

select, input {
  font-size: 20px;
  margin-left: 15px;
}

article.smaller {
  ul, p {
    font-size: 25px;
  }
}

slide.panda-attack {
  background-image: url('../assets/Panda_attack.jpg');
}

slide.kung-fu-panda {
  background-image: url('../assets/Kung_Fu_Panda.jpg');
  background-size: 80%;
  background-position: 355px 150px;
}

